<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vintage Circle - Encuentra y vende productos únicos y de segunda mano.">
  <meta name="author" content="Tu Nombre o Equipo">
  <meta name="keywords" content="vintage, productos, segunda mano, ecommerce">
  <title>Vintage Circle</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
  <script src="/js/scripts.js" defer></script>
</head>